.vercel
.lazyweb
node_modules
*.log
*.docx
*.pdf
*.py
assets/_references/
assets/logo/_unused-generated-svg/
Thumbs.db
.DS_Store
アカウント情報.txt
アカウント情報.env
vercel.json
0.作業用/
要件定義書.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
